*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;;
}

header{
  position: fixed;
  width: 85%;
  top: 0;
  right: 0;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 25px;
  height: 90px;
  z-index: 999;
}


main{
  height: calc(100vh - 190px);
  background-color: #141922;
  display: flex;
}


.flex-container{
  display: flex;
  flex-wrap: wrap;
  background-color: chartreuse;
  align-content: center;
}

main .col{
  height: calc(100vh - 170px);
  background-color: chocolate;
  width: 15%;
}

.item{
 
}

footer{
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: #282828;
  z-index: 2;
}